/* set a max-width for horizontal fluid layout and make it centered */
/*.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px; 
}*/

.uppercase{
	text-transform:uppercase;
}

.sidebar-nav-fixed {
	position:	fixed;
	top:		60px;
	width: 		250px;
 }

@media (max-width: 767px) {
	.sidebar-nav-fixed {
		width:auto;
	}
 }

@media (max-width: 979px) {
	.sidebar-nav-fixed {
		position:static;
		width: auto;
	}
 }

body {
	padding-top: 60px;
	padding-bottom: 20px;
}

/*@media (max-width: 980px) {
	.navbar-text.pull-right {
	float: none;
	padding-left: 5px;
	padding-right: 5px;
	}
}

.map-canvas img {
	max-width: none;
}

#directionsPanel img{
	max-width: none;
}*/

.filter-div{
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 25px;
}

.side-slider{
	margin: 10px;
}

.modal-backdrop.fade.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/* Fix Google Maps canvas
 *
 * Wrap your Google Maps embed in a `.google-map-canvas` to reset Bootstrap's
 * global `box-sizing` changes. You may optionally need to reset the `max-width`
 * on images in case you've applied that anywhere else. (That shouldn't be as
 * necessary with Bootstrap 3 though as that behavior is relegated to the
 * `.img-responsive` class.)
 */

.google-map-canvas,
.google-map-canvas * { .box-sizing(content-box); }

/* Optional responsive image override */
img { max-width: none; }

.dotdotdot{
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
    display:inline-block;
	line-height: 0.9em;
}